@model ConfigurationModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="Enable_OverrideForStore" asp-input="Enable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="Enable" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Enable" />
            <span asp-validation-for="Enable"></span>
        </div>
    </div>
</div>
