@model InstalledPluginSearchModel

@{
    Layout = "_AdminLayout";

    //page title
    ViewBag.PageTitle = T("Nop.Cypher.Core.InstalledPlugin").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Nop.Cypher.Core.InstalledPlugin");

}

<div class="content-header clearfix">
    <h1 class="float-left">
        nopCypher Plugin List
    </h1>
</div>
<input type="hidden" asp-for="ReloadList" />
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="mt-3 ml-3 d-flex">
                        <div class="col-4">
                            Current store url  <b>  @Model.StoreUrl</b>
                        </div>
                        <div class="col-4 pluginstoreurl">
                            Licence store url<b>  @Model.LicenceStoreUrl</b>
                        </div>
                        <div class="col-4">
                            <button id="reload" style="width: 97%; background: green;" class="btn btn-primary">
                                Refresh
                            </button>
                            <button hidden type="button" id="reload-list"></button>
                        </div>
                    </div>
                    <div class="card-body">

                        @{
                            var gridModel = new DataTablesModel
            {
                Name = "log-grid",
                UrlRead = new DataUrl("LicenceDetailsList", "NopCypherCore"),
                Length = Model.PageSize,
                SearchButtonId = "reload-list",
                LengthMenu = Model.AvailablePageSizes,
                Filters = new List<FilterParameter>
                        {
                        new FilterParameter(nameof(Model.ReloadList)),
                        },
            };
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(InstalledPluginModel.ProductName))
            {
                Title = "Plugin Name",
                Width = "400"
            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(InstalledPluginModel.StoreURL))
            {
                Title = "Licence store Url",
                Width = "400",
                ClassName = "StoreUrl-cs"
            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(InstalledPluginModel.PlatformVersion))
            {
                Title = "nopCommerce Version",
                Width = "100",
                ClassName = "textcentercs"
            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(InstalledPluginModel.PluginVersion))
            {
                Title = "Plugin Version",
                Width = "100",
                ClassName = "textcentercs"
            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(InstalledPluginModel.NCLStatus))
            {
                Title = "Plugin Status",
                Width = "100",
                Render = new RenderCustom("renderColumnLicenceStatus"),
                ClassName = "textcentercs"
            });
                            if (!Model.IsLocalHost)
                            {
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(InstalledPluginModel.CreatedOnUtc))
                {
                    Title = "Created On Utc",
                    Width = "150"
                });
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(InstalledPluginModel.LicenceExpiredDate))
                {
                    Title = "Licence Expiration On",
                    Width = "150",
                    Render = new RenderCustom("checknullorexist"),
                });
                            }


                        }

                        @await Html.PartialAsync("Table", gridModel)

                        <script>
                            $("#reload").on("click", function () {
                                $("#ReloadList").val(true);
                                $("#reload-list").trigger("click");
                            });
                            function renderColumnLicenceStatus(data, type, row, meta) {
                                var color;
                                switch (row.NCLStatusId) {
                                    case 10:
                                        color = 'green';
                                        data = 'Active';
                                        break;
                                    case 20:
                                        color = 'red';
                                        data = 'Expired';
                                        break;
                                    case 30:
                                        color = 'yellow';
                                        data = 'Localhost';
                                        break;
                                    case 40:
                                        color = 'red';
                                        data = 'NotFound';
                                        break;
                                    case 50:
                                        color = 'green';
                                        data = 'Found';
                                        break;
                                    case 70:
                                        color = 'yellow';
                                        data = 'LimitExceed';
                                        break;
                                    case 80:
                                        color = 'yellow';
                                        data = 'Trial';
                                        break;
                                }
                                return '<span class="grid-report-item ' + color + '">' + data + '</span >';
                            }
                            function checknullorexist(data, type, row, meta) {
                                if (row.LicenceExpiredDate == "")
                                    return 'N/A';
                                else
                                    return data;
                            }
                        </script>
                    </div>


                </div>

                <div class="card card-default">
                    <div class="content-header clearfix">
                        <h1 class="float-left">
                            Licence Information
                        </h1>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th style="width:20%">Licence Status</th>
                                <th>Information</th>
                            </tr>
                            <tr>
                                <td>
                                    <span class="grid-report-item yellow">
                                        Localhost
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        Local host license for development mode
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="grid-report-item green">
                                        Active
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        License is Activated
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="grid-report-item red">
                                        Expired
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        License is expired
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="grid-report-item red">
                                        NotFound
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        License Details seems invalid or record not found with current URL. Make sure your current store URL and store URL which is submitted during download plugin are same. If it not same
                                        then kindly contact to support team with your order id for correct URL.
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="grid-report-item yellow">
                                        NA
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        It is temporary licence activated. Your store is not able to send request for license validation. You'll get only 10 request per month for this. For resolve this issue, please make sure you able to access shop.nopcypher.com from your Hosting Server. For reseting the trial <a href="/Admin/NopCypherCore/ResetTrialPluginsKey">click here</a>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .textcentercs {
        text-align: center;
    }
</style>